@import "../../../node_modules/hof-frontend-toolkit/assets/stylesheets/app.scss";

.nav-menu {
  list-style-type: none;
  padding-top: 0.5em;
  padding-left: 1em;
  li {
    display: inline;
    margin-right: 0.938em;
  }
}

//TODO: Fix this, it's not great
.header-proposition {
  position: relative;
  top: -2em;
  left: 21em;;
  margin-bottom: -2em;
}
