{{<partials-layout}}
{{$menu}}
  <div class="navbar">
    <ul class="navbar__list-items">
      <li><a href="/">What we do</a></li>
      <li><a href="/hosting-platform">Hosting Platform</a></li>
      <li class="active"><a href="#">Teams</a></li>
      <li><a href="/engagement">Engagement</a></li>
      <li><a href="/best-practices">Best practices</a></li>
      <li><a href="/roadmap">Road map</a></li>
      <li><a href="/resources">Resources</a></li>
    </ul>
  </div>
{{/menu}}
{{$content}}
<main id="content" class="main" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <section class="intro">
        <h1>Teams</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in fermentum lacus, at sollicitudin dolor.
          Quisque vel dui eget velit varius tempor. Vestibulum iaculis magna mauris.
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Etiam ut eros eu purus malesuada rhoncus at ac dui. Integer bibendum dapibus molestie.
          Praesent sodales ipsum tortor, vulputate pretium metus suscipit at.
          Donec accumsan tellus vitae dapibus tincidunt. In varius quam justo.
        </p>
      </section>
    </div>
  </div>
</main>
{{/content}}
{{/partials-layout}}
